<?xml version="1.0" encoding="WINDOWS-31J"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>directory</param-name>
    <param-value>images</param-value>
  </context-param>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>mod3.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletLifecycle</servlet-name>
    <servlet-class>mod4.ServletLifecycle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormSample</servlet-name>
    <servlet-class>mod5.FormSample</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletGet</servlet-name>
    <servlet-class>mod5.HttpServletGet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpServletPost</servlet-name>
    <servlet-class>mod5.HttpServletPost</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HttpRequest</servlet-name>
    <servlet-class>mod5.HttpRequest</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetInitParam</servlet-name>
    <servlet-class>mod5.GetInitParam</servlet-class>
    <init-param>
      <param-name>filename</param-name>
      <param-value>cherry.jpg</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>CounterServlet</servlet-name>
    <servlet-class>mod6.CounterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CounterServletNonBoxing</servlet-name>
    <servlet-class>mod6.CounterServletNonBoxing</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CounterUrlRewriting</servlet-name>
    <servlet-class>mod6.CounterUrlRewriting</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeInformation</servlet-name>
    <servlet-class>mod8.EmployeeInformation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ControlServlet</servlet-name>
    <servlet-class>mod8.ControlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FormSampleServlet</servlet-name>
    <servlet-class>moda.FormSampleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DepartmentListServletServlet</servlet-name>
    <servlet-class>modc.DepartmentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeInformation2</servlet-name>
    <servlet-class>mod10.EmployeeInformation2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployeeListInformation</servlet-name>
    <servlet-class>mod10.EmployeeListInformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/helloservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServletLifecycle</servlet-name>
    <url-pattern>/servletlifecycle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormSample</servlet-name>
    <url-pattern>/formsample</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletGet</servlet-name>
    <url-pattern>/httpservletget</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpServletPost</servlet-name>
    <url-pattern>/httpservletpost</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HttpRequest</servlet-name>
    <url-pattern>/httprequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetInitParam</servlet-name>
    <url-pattern>/getinitparam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CounterServlet</servlet-name>
    <url-pattern>/counterservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CounterServletNonBoxing</servlet-name>
    <url-pattern>/counterservletnonboxing</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CounterUrlRewriting</servlet-name>
    <url-pattern>/counterurlrewriting</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeInformation</servlet-name>
    <url-pattern>/employeeinformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ControlServlet</servlet-name>
    <url-pattern>/controlservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormSampleServlet</servlet-name>
    <url-pattern>/formsampleservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DepartmentListServletServlet</servlet-name>
    <url-pattern>/departmentlistservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeInformation2</servlet-name>
    <url-pattern>/employeeinformation2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployeeListInformation</servlet-name>
    <url-pattern>/employeelistinformation</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>directory</param-name>
    <param-value>images</param-value>
  </context-param>
  <context-param>
    <param-name>filename</param-name>
    <param-value>smile.gif</param-value>
  </context-param>
</web-app>